.characterGrid {
  composes: padding from "./common/base.css";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.characterGrid .gridItem {
  flex: 1 0 21%;
  padding: 8px;
  border: 1px solid;
}

@media screen and (max-width: 768px) {
  .characterGrid .gridItem {
    flex: 1 0 45%;
  }

  .empty {
    align-items: center;
    text-align: justify;
  }
}

.characterGrid .gridItem img {
  width: 100%;
  height: auto;
}

.characterGrid .gridItem .name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.empty {
  composes: padding from "./common/base.css";
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.empty img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}
