.home {
  background-color: #000000;
  min-height: 100vh;
  /* background-color: #44281d; */
  color: #ffffffaa;
}

.header {
  composes: padding from "./common/base.css";
  background-color: #ffffff33;
  display: flex;
  font-size: 24px;
}

.tagline {
  composes: padding from "./common/base.css";
}

@media screen and (max-width: 768px) {
  .home {
  }
}
