.home {
  background-color: #44281d;
  color: #ffffffaa;
}

.header {
  composes: padding from "./common/base.css";
  background-color: #00000055;
  display: flex;
  font-size: 24px;
}

.tagline {
  composes: padding from "./common/base.css";
}

@media screen and (max-width: 768px) {
  .home {
  }
}
